
.card{
    border: 1px solid lightcoral;
}
.student-img{
    display: flex;
    justify-content: center;
}
.card img{
    border-radius: 50%;
    width: 150px;
    margin: 10px;
}
.card-body{
    background-color:lightcoral;
    margin: 10px;
    border-radius: 10px;
}
